- var currentPage = 'accessibility';
- var breadcrumbs = 'Academic Integrity&nbsp;<i class="material-icons">navigate_next</i>&nbsp;<a href="../">Home</a>&nbsp;<i class="material-icons">navigate_next</i>&nbsp;<a href="./">Legal Notices</a>&nbsp;<i class="material-icons">navigate_next</i>&nbsp;Accessibility Statement';
html
  include ../includes/head-legal.pug
  body
    include ../includes/gtm.pug
    include ../includes/header-legal.pug
    .main
      .wrapper
        h1 Accessibility Statement
        p Every effort has been made to create the pages within this website as accessible as possible in accordance with the World Wide Web Consortium’s Web Content Accessibility Guidelines.
        p Some information on this site is available only in Adobe Acrobat (PDF) format. | #[a(href="http://www.adobe.com/products/acrobat/readstep2.html") Download a free copy of Adobe Acrobat].
        p If you have trouble accessing any portion of this site, please contact:
        ul.nobullets
          li: strong Mark A. Greenfield
          li Digital Strategist
          li 716-645-2811
          li: a(href="mailto:markgr@buffalo.edu") markgr@buffalo.edu

        h2 Disclaimer
        p The University at Buffalo Undergraduate Admissions website contains links to other independently administered sites within the University at Buffalo network and to some sites outside the “buffalo.edu” domain. We cannot be held responsible for the accessibility practices or the content of such websites.

    include ../includes/footer-legal.pug
