- var currentPage = 'legal';
- var breadcrumbs = 'Academic Integrity&nbsp;<i class="material-icons">navigate_next</i>&nbsp;<a href="../">Home</a>&nbsp;<i class="material-icons">navigate_next</i>&nbsp;Legal Notices';
html
  include ../includes/head-legal.pug
  body
    include ../includes/gtm.pug
    include ../includes/header-legal.pug
    .main
      .wrapper
        h1 Legal Notices
        ul.morespace.nobullets
          li: a(href="accessibility") Accessibility Statement
          li: a(href="privacy") Privacy Statement
          li: a(href="http://www.buffalo.edu/equity.html") Notice of Non-Discrimination
          li: a(href="http://www.buffalo.edu/ubit/service-guides/safe-computing/dmca/reporting-alleged-copyright-infringement-.html") Reporting Alleged Copyright Infringement

    include ../includes/footer-legal.pug
