@font-face {
  font-family: 'Freeland';
  src: url(../fonts/Freeland.eot);
  src: url(../fonts/Freeland.ttf) format("ttf");
  src: url(../fonts/Freeland.woff) format("woff");
  src: url(../fonts/Freeland.woff2) format("woff2"); }

@font-face {
  font-family: 'Sofia Pro';
  src: url(../fonts/SofiaWebRegular.eot);
  src: url(../fonts/SofiaWebRegular.ttf) format("ttf");
  src: url(../fonts/SofiaWebRegular.woff) format("woff");
  src: url(../fonts/SofiaWebRegular.woff2) format("woff2"); }

@font-face {
  font-family: 'Sofia Pro Medium';
  src: url(../fonts/SofiaWebMedium.eot);
  src: url(../fonts/SofiaWebMedium.ttf) format("ttf");
  src: url(../fonts/SofiaWebMedium.woff) format("woff");
  src: url(../fonts/SofiaWebMedium.woff2) format("woff2"); }

@font-face {
  font-family: 'Sofia Pro Light';
  src: url(../fonts/SofiaWebLight.eot);
  src: url(../fonts/SofiaWebLight.ttf) format("ttf");
  src: url(../fonts/SofiaWebLight.woff) format("woff");
  src: url(../fonts/SofiaWebLight.woff2) format("woff2"); }

@font-face {
  font-family: 'Sofia Pro ExtraLight';
  src: url("../fonts/SofiaProExtraLight.eot") format("embedded-opentype");
  src: url(../fonts/SofiaProExtraLight.ttf) format("ttf");
  src: url(../fonts/SofiaProExtraLight.woff) format("woff");
  src: url(../fonts/SofiaProExtraLight.woff2) format("woff2"); }

@font-face {
  font-family: 'Sofia Pro UltraLight';
  src: url(../fonts/SofiaProUltraLight.eot);
  src: url(../fonts/SofiaProUltraLight.ttf) format("ttf");
  src: url(../fonts/SofiaProUltraLight.woff) format("woff");
  src: url(../fonts/SofiaProUltraLight.woff2) format("woff2"); }

@font-face {
  font-family: 'More Pro';
  src: url(../fonts/MoreProBook.eot);
  src: url(../fonts/MoreProBook.ttf) format("ttf");
  src: url(../fonts/MoreProBook.woff) format("woff");
  src: url(../fonts/MoreProBook.woff2) format("woff2"); }

body {
  margin: 0;
  font-family: 'Sofia Pro', sans-serif; }
  body h1 {
    font-family: 'More Pro', serif;
    font-size: 1.9rem; }
  body h2 {
    font-size: 1.3rem;
    color: #005bbb;
    margin-top: 2rem;
    margin-bottom: -0.5rem; }
  body a {
    text-decoration: underline;
    color: #005bbb; }
    body a:hover {
      text-decoration: none; }
  body p {
    font-family: 'Sofia Pro Light', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem; }

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #005bbb; }
  header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 20px; }
  header .logo img {
    width: 60px;
    height: auto; }
  header .title {
    font-family: 'Sofia Pro ExtraLight', sans-serif;
    color: white;
    margin: 0 0 0 10px;
    font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    header .wrapper {
      min-width: 700px;
      margin: 0 auto; } }

.navwrapper {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .navwrapper {
      flex-direction: column-reverse; } }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px; }
  .navbar .breadcrumbs {
    color: #666666;
    margin: 0 0 0 10px;
    font-size: 0.8rem;
    font-family: 'Sofia Pro Light', sans-serif; }
  @media screen and (min-width: 768px) {
    .navbar {
      max-width: 700px;
      margin: 0 auto;
      height: 40px; } }

#navmenu {
  width: 30px;
  height: 23px;
  position: relative;
  right: 10px;
  cursor: pointer; }
  #navmenu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #666666;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out; }
    #navmenu span:nth-child(1) {
      top: 0; }
    #navmenu span:nth-child(2), #navmenu span:nth-child(3) {
      top: 9px; }
    #navmenu span:nth-child(4) {
      bottom: 0; }
  #navmenu.open span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%; }
  #navmenu.open span:nth-child(2) {
    transform: rotate(45deg); }
  #navmenu.open span:nth-child(3) {
    transform: rotate(-45deg); }
  #navmenu.open span:nth-child(4) {
    bottom: 9px;
    width: 0;
    left: 50%; }
  @media screen and (min-width: 768px) {
    #navmenu {
      display: none; } }

nav {
  opacity: 0;
  height: 0;
  visibility: hidden;
  background: whitesmoke;
  transition: .25s ease-in-out; }
  nav.open {
    opacity: 1;
    height: 300px;
    visibility: visible;
    padding: 20px 0; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  nav li {
    width: 100%;
    height: 20%; }
    nav li.active a {
      font-weight: bold;
      color: white;
      background: #666666; }
  nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    color: #005bbb; }
    nav a:hover {
      text-decoration: none; }
  @media screen and (min-width: 768px) {
    nav {
      opacity: 1;
      visibility: visible;
      height: auto;
      width: 100%;
      background: white; }
      nav ul {
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        max-width: 700px;
        margin: 0 auto;
        padding: 4px 0;
        background: white;
        border-bottom: 4px solid #666666; }
        nav ul li {
          height: 100%;
          margin: 0 4px 0 0; }
          nav ul li:nth-child(5) {
            margin: 0; }
          nav ul li.active a {
            background: #666666; }
          nav ul li:hover a {
            color: white;
            background: #666666; }
          nav ul li a {
            width: 100%; } }

.banner {
  height: 200px;
  background-image: url(../img/main_home.jpg);
  background-size: cover;
  background-position: center; }
  @media screen and (min-width: 768px) {
    .banner {
      height: 450px; } }

.main {
  height: auto; }
  .main .wrapper {
    height: auto;
    padding: 10px 20px 20px; }
  .main ul.morespace li {
    margin: 10px 0; }
  @media screen and (min-width: 768px) {
    .main .wrapper {
      max-width: 700px;
      margin: 0 auto;
      padding: 30px 20px 80px; } }

footer {
  width: 100%;
  height: auto;
  background: #005bbb;
  color: white; }
  footer .wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px; }
  footer .contact .info {
    margin-left: 55px; }
    footer .contact .info p {
      line-height: normal; }
    footer .contact .info .title {
      margin-top: 20px; }
    footer .contact .info .phone {
      margin-bottom: 0; }
    footer .contact .info .fax {
      margin-top: 0;
      margin-bottom: 0; }
    footer .contact .info .email {
      margin-top: 0; }
  footer .legal {
    text-align: right;
    border-top: 1px solid white;
    margin-top: 20px; }
    footer .legal p:nth-child(1) {
      margin-bottom: 0; }
    footer .legal p:nth-child(2) {
      margin-top: 0; }
  footer p {
    font-size: 0.8rem; }
  footer a {
    color: white; }
  @media screen and (min-width: 768px) {
    footer .wrapper {
      max-width: 700px;
      margin: 0 auto; } }
