footer
  .wrapper
    .contact
      .unitlockup: img(src="img/academic-affairs-lockup.png")
      .info
        p.title Office of the Senior Vice Provost#[br ]for Academic Affairs
        p.address 548 Capen Hall
        p.phone 716-645-6003
        p.fax 716-645-2549
        p.email #[a(href="mailto:academicaffairs@buffalo.edu") academicaffairs@buffalo.edu]
    .legal
      p Sample Sample Sample Sample

script(src="js/main.js")
