head
  title Academic Integrity | University at Buffalo, State University of New York
  meta(name="language" content="en-US")
  meta(name="author" content="Office of the Provost Web Services, University at Buffalo")
  meta(name="Copyright" content="Copyright (c) 2017 University at Buffalo")
  meta(name="description" content="Policies and information about academic integrity at UB.")
  meta(name="keywords" content="academic integrity, academics, intellectual challenges, academic responsibilities, ethics, honesty")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(href="css/main.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
