// Header for files under legal

- var n = 0;
header
  .wrapper
    a(href="../")
      .logo: img(src="../img/ub-interlocking.png")
      .title Academic Integrity
.navwrapper
  .navbar
    .breadcrumbs!= breadcrumbs
    #navmenu
      while n < 4
        span
        - n++;
  nav#nav
    ul
      li(class={active: currentPage === 'home'})
        a(href="../"): i.material-icons home
      li(class={active: currentPage === 'policies'})
        a(href="../policies") Policies
      li(class={active: currentPage === 'integrity'})
        a(href="../integrity") About Integrity
      li(class={active: currentPage === 'violations'})
        a(href="../violations") Violations
      li(class={active: currentPage === 'faq'})
        a(href="../faq") FAQ
      li(class={active: currentPage === 'resources'})
        a(href="../resources") Resources
.banner(class=currentPage)
