- var n = 0;
header
  .wrapper
    .logo: img(src="img/ub-interlocking.png")
    .title Academic Integrity
.navwrapper
  .navbar
    .breadcrumbs!= breadcrumbs
    #navmenu
      while n < 4
        span
        - n++;
  nav#nav
    ul
      li(class={active: currentPage === 'home'})
        span
        a(href="index.html") Home
      li(class={active: currentPage === 'policies'})
        span
        a(href="policies.html") Policies
      li(class={active: currentPage === 'integrity'})
        span
        a(href="integrity.html") About Integrity
      li(class={active: currentPage === 'faq'})
        span
        a(href="faq.html") FAQ
      li(class={active: currentPage === 'resources'})
        span
        a(href="resources.html") Resources
.banner(class=currentPage)
