header
  .wrapper
    .logo: img(src="img/ub-interlocking.png")
    .title Academic Integrity
.navwrapper
  .navbar
    .breadcrumbs Academic Integrity > Home
    - var n = 0;
    #navmenu
      while n < 4
        span
        - n++;
  nav#nav
    ul
      li(class={active: currentPage === 'home'})
        span
        a(href="index.html") Home
      li(class={active: currentPage === 'policies'})
        span
        a(href="policies.html") Policies
      li(class={active: currentPage === 'about integrity'})
        span
        a(href="#") About Integrity
      li(class={active: currentPage === 'faq'})
        span
        a(href="#") FAQ
      li(class={active: currentPage === 'resources'})
        span
        a(href="#") Resources
.banner
