- var currentPage = 'home';
- var breadcrumbs = 'Academic Integrity&nbsp;&nbsp;>&nbsp;&nbsp;Home';
html
  head
    title Academic Integrity | University at Buffalo, State University of New York
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
  body
    include includes/header.pug
    .main
      .wrapper
        h1 A Community of Scholars
        p As part of our community of scholars, we know that you share a commitment to learning and discovery. And along with the privilege of scholarly membership comes an important obligation to adhere to certain principles of academic integrity, honesty, and ethics.
        p On this website, we hope you will find help and guidance to assist you as you confront intellectual challenges in your courses, research, writings, and other scholarly activities. We believe that great experiences await each of you in your personal efforts as well as your conversations and collaborations with academic colleagues. The commitment each of us makes to adhere to certain ethical principles ensures that the academic endeavors we undertake will garner us the greatest personal satisfaction and intellectual gain.

    include includes/footer.pug
