html
  head
    title Academic Integrity | University at Buffalo, State University of New York
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
  body
    header
    footer
