html
  head
    title Academic Integrity | University at Buffalo, State University of New York
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
  body
    header
      .wrapper
        .logo: img(src="img/ub-interlocking.png")
        .title Academic Integrity
    .navbar
      .page Home
      - var n = 0;
      #navmenu
        while n < 4
          span
          - n++;
    nav#nav
      ul
        li.active: a(href="#") Home
        li: a(href="#") Policies
        li: a(href="#") About Integrity
        li: a(href="#") FAQ
        li: a(href="#") Resources
    .banner
    .main
      .wrapper
        h2 A Community of Scholars

    footer
    script(src="js/main.js")
