- var currentPage = 'integrity';
- var breadcrumbs = 'Academic Integrity&nbsp;&nbsp;>&nbsp;&nbsp;<a href="./">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;About Integrity';
html
  head
    title Academic Integrity | University at Buffalo, State University of New York
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
  body
    include includes/header.pug
    .main
      .wrapper
        h1 About Academic Integrity

        h2 Why is academic integrity important?
        p An academic community is composed of learners – individuals dedicated to an open exchange of ideas, who share their ideas for the purpose of improving knowledge for all people. In order for this academic enterprise to be successful, we must embrace basic principles that serve to guide our interactions. These principles include:
        ul
          li Honesty
          li Trust
          li Fairness
          li Respect
          li Responsibility
        p.last Violations of these principles disrupt the balance of the academic enterprise and ultimately diminish its success. On a purely pragmatic level, adherence to these values provides useful life training. These values should carry forward into life beyond the academy – to your career and to your work within the community at large.

        h2 Avoiding violations of academic integrity
        p Violations of academic integrity occur when we fail to adhere to the general principles outlined above. More generally, we need to respect and give due credit to the work and ideas of others. And we must faithfully represent to others our own efforts in any work we submit. In general, we offer the following advice in order to avoid violating the academic integrity policy:
        ul.morespace
          li Clarify expectations with your instructor in advance.
          li Using the exact words of others without proper attribution violates the integrity policy, as does using others’ ideas without giving due credit.
          li Keep print-outs of all materials you consult for your work, with complete citations (including web addresses and the date retrieved for online materials). It does not matter if violations are unintentional.
          li Paraphrasing means more than simply changing a word here or there. Be sure that your paraphrase substantially rephrases the idea.
          li Do not collaborate on assignments unless your instructor explicitly states that working with others is permitted. Even then, be sure to footnote any contributions and the person(s) who should be credited.
          li Never misrepresent your work as your own if it (or any part) is not.
          li Do not facilitate integrity violations by others.
          li Do not use any assistance during examinations that is not explicitly authorized by the instructor.
        p.last Some types of academic integrity violations are obvious: buying a ready-made term paper and turning it in as your own, or copying test answers during an exam. However, other violations may be less obvious. For example, not all instructors allow students to collaborate on homework, or receive substantial effort by others on projects. When in doubt, discuss the matter with your instructor, just to be sure.

    include includes/footer.pug
