- var currentPage = 'policies';
- var breadcrumbs = 'Academic Integrity&nbsp;&nbsp;>&nbsp;&nbsp;<a href="index.html">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;Policies';
html
  head
    title Academic Integrity | University at Buffalo, State University of New York
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
  body
    include includes/header.pug
    .main
      .wrapper
        h1 UB Academic Integrity Policies
        p The University at Buffalo takes very seriously its commitment to principles of academic integrity. Our academic community expects the highest ethical behavior on the part of our students in the completion and submission of academic work. Students should assume that no assistance or aid is allowable on exams or homework, unless explicitly outlined by the instructor. Even when the instructor allows consultation or collaboration, the student is expected to explicitly footnote the source, extent, and nature of the contribution. Written works must be the complete and original effort of the student, with all ideas and words of others duly attributed according to the appropriate style manual. Furthermore, students should not recycle work in subsequent courses, nor should they facilitate any act of academic dishonesty by another person. If in doubt, the student should err on the side of caution and consult the instructor for additional guidance.
        p In cases of academic integrity violations, the University will pursue appropriate sanctions subject to official policy, as outlined in the Undergraduate Catalog:
        ul.morespace
          li: a(href="http://undergrad-catalog.buffalo.edu/policies/course/integrity.html") Current UB Academic Integrity Policy
          li: a(href="http://undergrad-catalog.buffalo.edu/policies/course/integrity-appendices.html") Undergraduate Academic Integrity Policy Appendices
          li: a(href="http://undergrad-catalog.buffalo.edu/") Undergraduate Catalog

    include includes/footer.pug
