@import 'vars'

body
  margin: 0
  font-family: 'Sofia Pro', sans-serif

header
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%
  height: 100px
  background: $ub-blue
  .wrapper
    margin: 0 0 0 30px
  .logo
    img
      width: 150px
      height: auto
  .title
    font-family: 'Sofia Pro ExtraLight', sans-serif
    color: white
    margin: 15px 0 0 0 

footer
  width: 100%
