@import 'vars'

*
  box-sizing: border-box

body
  margin: 0
  font-family: 'Sofia Pro Light', sans-serif
  color: $putnam-gray

  h1
    font-family: 'More Pro', serif
    font-size: 1.9rem
    margin-bottom: 0
    padding-bottom: 0.2rem
    color: darken($putnam-gray, 10%)
    border-bottom: 3px solid darken($putnam-gray, 10%)

  h1 + *
    margin-top: 2rem
  h1 + h2
    padding-top: 2rem

  @media screen and (min-width: $bp-medium)
    h1 + *:not(h2)
      margin-top: 2rem

  h2
    font-size: 1.3rem
    color: $ub-blue
    margin-top: 0
    padding-top: 1rem
    margin-bottom: -0.5rem
    @media screen and (min-width: $bp-medium)
      padding-top: 2rem

  a
    text-decoration: none
    border-bottom: 1px solid
    color: $ub-blue
    // transition: .25s ease
    &:hover
      text-decoration: none
      border-bottom: 2px solid

  p, ul, ol
    text-align: justify

  p
    font-size: 1rem
    line-height: 1.4rem
    &.quote
      font-style: italic
      margin-left: 20px
      margin-right: 20px
      @media screen and (min-width: $bp-medium)
        margin-left: 50px
        margin-right: 50px

  ul, ol
    &.within
      padding: 0 10px
      @media screen and (min-width: $bp-medium)
        padding: 0 40px

@media screen and (min-width: $bp-medium)
  .last
    margin-bottom: 0

header
  display: flex
  align-items: center
  width: 100%
  height: 100px
  background: $ub-blue
  .wrapper
    margin: 0 0 0 20px
    a
      display: flex
      display: inline-flex
      flex-direction: row
      align-items: center
      text-decoration: none
      border-bottom: none
      &:hover
        border-bottom: none
      &:active
        border: 1px dotted white
  .logo
    img
      width: 60px
      height: auto
  .title
    font-family: 'Sofia Pro ExtraLight', sans-serif
    color: white
    margin: 0 0 0 10px
    font-size: 1.4rem
  @media screen and (min-width: $bp-medium)
    .wrapper
      min-width: $wrapper-width-medium
      margin: 0 auto
  @media screen and (min-width: $bp-largest)
    .wrapper
      min-width: $wrapper-width-large

.navwrapper
  display: flex
  flex-direction: column
  @media screen and (min-width: $bp-medium)
    flex-direction: column-reverse

.navbar
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  height: 45px
  .breadcrumbs
    display: flex
    align-items: center
    color: $putnam-gray
    margin: 0 0 0 10px
    font-size: 0.6rem
    font-family: 'Sofia Pro Light', sans-serif
    i.material-icons
      font-size: 0.9rem
    a:hover
      border-bottom: 1px solid
    @media screen and (min-width: $bp-xsmall)
      font-size: 0.7rem
    @media screen and (min-width: $bp-small)
      font-size: 0.8rem
  @media screen and (min-width: $bp-medium)
    max-width: $wrapper-width-medium
    margin: 0 auto
    height: 40px
  @media screen and (min-width: $bp-largest)
    max-width: $wrapper-width-large

#navmenu
  width: 30px
  height: 23px
  position: relative
  right: 10px
  cursor: pointer
  span
    display: block
    position: absolute
    height: 5px
    width: 100%
    background: $putnam-gray
    border-radius: 5px
    opacity: 1
    left: 0
    transition: .25s ease-in-out
    &:nth-child(1)
      top: 0
    &:nth-child(2), &:nth-child(3)
      top: 9px
    &:nth-child(4)
      bottom: 0
  &.open span
    &:nth-child(1)
      top: 9px
      width: 0
      left: 50%
    &:nth-child(2)
      transform: rotate(45deg)
    &:nth-child(3)
      transform: rotate(-45deg)
    &:nth-child(4)
      bottom: 9px
      width: 0
      left: 50%
  @media screen and (min-width: $bp-medium)
    display: none

nav
  font-family: 'Sofia Pro' , sans-serif
  opacity: 0
  height: 0
  visibility: hidden
  background: lighten($baird-point, 8%)
  transition: .25s ease-in-out
  &.open
    opacity: 1
    height: 300px
    visibility: visible
    padding: 20px 0
  ul
    margin: 0
    padding: 0
    list-style: none
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
  li
    width: 100%
    height: 20%
    &.active
      a
        color: white
        background: $putnam-gray
  a
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    text-align: center
    height: 100%
    width: 60%
    margin: 0 auto
    color: $ub-blue
    border-bottom: none
    &:hover
      text-decoration: none
      border-bottom: none
  @media screen and (min-width: $bp-medium)
    opacity: 1
    visibility: visible
    height: auto
    width: 100%
    background: white
    // border-bottom: 5px solid $putnam-gray
    ul
      flex-direction: row
      // justify-content: space-between
      height: 50px
      max-width: $wrapper-width-medium
      margin: 0 auto
      padding: 0 0 1px
      background: white
      // overflow: hidden
      // border-bottom: 4px solid $putnam-gray
      li
        flex-grow: 1
        width: auto
        height: 100%
        position: relative
        // margin: 0 1px 0 0
        a
          width: 100%
          padding: 0 10px
          // box-shadow: 0 0 5px black
          &::after, &::before
            content: ""
            position: absolute
            width: 100%
            left: 0
            background: $putnam-gray
            transition: .1s ease
          &::after
            bottom: 0
            height: 5px
          &::before
            top: 0
            height: 0
          span
            transition: transform .1s ease
        &:nth-child(6)
          margin: 0
        &.active
          z-index: 1
          &::before, &::after
            content: ""
            height: 100%
            width: 10px
            top: 0
            position: absolute
          &::before
            box-shadow: -10px 0 20px -14px inset
            left: -10px
          &::after
            box-shadow: 10px 0 20px -14px inset
            right: -10px
        &.active, &:hover
          a
            color: $ub-blue
            background: white
            &::after
              height: 0
            &::before
              height: 5px
            span
              transform: translateY(5px)
        &:not(.active):hover
      @media screen and (min-width: $bp-largest)
        max-width: $wrapper-width-large

.banner
  height: 35vh
  background:
    image: url(../img/home.jpg)
    size: cover
    position: 50% calc(30%)
  &.policies
    background:
      image: url(../img/policies.jpg)
      position: 50% calc(0)
  &.integrity
    background:
      image: url(../img/integrity.jpg)
      position: 50% calc(0)
  &.violations
    background:
      image: url(../img/violations.jpg)
      position: 50% calc(65%)
  &.faq
    background:
      image: url(../img/faq.jpg)
      position: 50% calc(5%)
  &.resources, &.legal, &.accessibility, &.privacy
    background:
      image: url(../img/resources.jpg)
      position: 50% calc(65%)
  @media screen and (min-width: $bp-medium)
    height: 59vh

.main
  height: auto
  // border: 2px solid black
  .wrapper
    height: auto
    padding: 10px 20px 20px
  ul, ol
    &.morespace
      li
        margin: 10px 0
    &.nobullets
      list-style: none
    &#faq
      display: flex
      flex-direction: column
      align-items: flex-start
      list-style: circle
      padding: 0 0 0 40px
      color: $ub-blue
      li
        text-decoration: underline
        &:hover
          cursor: pointer
          text-decoration: none
  span.highlight
    font-family: 'Sofia Pro Medium', sans-serif
    text-decoration: underline

  @media screen and (min-width: $bp-medium)
    .wrapper
      max-width: $wrapper-width-medium
      margin: 0 auto
      padding: 30px 20px 80px
  @media screen and (min-width: $bp-largest)
    .wrapper
      max-width: $wrapper-width-large

#backtotop
  display: none
  @media screen and (min-width: $bp-large)
    display: flex
    flex-direction: column
    width: 30px
    height: auto
    position: fixed
    margin-left: 90vw
    bottom: 50%
    opacity: 0
    visibility: hidden
    transform: translateX(10vw)
    transition: .25s ease
    &.show
      opacity: 1
      visibility: visible
      transform: translateX(0)
    &:hover
      cursor: pointer
      .shape
        transform: rotate(180deg) translateY(10px)
    .shape
      width: 30px
      transition: .25s ease
      transform: rotate(180deg)
      svg.ui-arrow .st0
        fill: none
        stroke: $putnam-gray
        stroke-width: 10
    .text
      font-size: 0.6rem
      text-align: center
      color: $putnam-gray
  @media screen and (min-width: $bp-larger)
    margin-left: 85vw
  @media screen and (min-width: $bp-largest)
    margin-left: 85vw
    transform: scale(1.5) translateX(10vw)
    &.show
      transform: scale(1.5) translateX(0)

footer
  width: 100%
  height: auto
  background: $ub-blue
  color: white
  .wrapper
    height: auto
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 40px 20px
  .contact
    .unitlockup img
      width: 275px
      height: auto
    .info
      margin-left: 55px
      p
        line-height: normal
      .title
        margin-top: 20px
      .phone
        margin-bottom: 0
      .fax
        margin-top: 0
        margin-bottom: 0
      .email
        margin-top: 0
  .legal
    border-top: 1px solid white
    margin-top: 20px
    p
      text-align: right
      &:nth-child(1)
        margin-bottom: 0
      &:nth-child(2)
        margin-top: 0
  p
    font-size: 0.8rem
  a
    color: white
  @media screen and (min-width: $bp-medium)
    .wrapper
      max-width: $wrapper-width-medium
      margin: 0 auto
  @media screen and (min-width: $bp-largest)
    .wrapper
      max-width: $wrapper-width-large
